<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>BagLock</title>
	<%= javascript_include_tag :defaults %>
	<%= active_scaffold_includes %>
	<%= dhtml_calendar_includes %>
	<%= stylesheet_link_tag 'active_scaffold_overrides' %>
	<%= stylesheet_link_tag('print', :media => :print) %>
<body>
<table id="app-links-table">
<tr>
<td class="link-footer"><a class="app-link" href="/item">Backlog</a></td>
<td class="link-footer"><a class="app-link" href="/task">Tasks</a></td>
<td class="link-footer"><a class="app-link" href="/sprint">Sprints</a></td>
<td class="link-footer"><a class="app-link" href="/developer">Developers</a></td>
</tr>
</table>

<%= error_messages_for :login %>
<% form_for :login do |f| -%>
<p class="active-scaffold"><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p class="active-scaffold"><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p class="active-scaffold"><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p class="active-scaffold"><%= submit_tag 'Sign up' %></p>
<% end -%>

</body>
</html>



